* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.navlink a:hover {
  color: black;
}

.navlink a:hover::after {
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 40px;
}
.title a {
  text-decoration: none;
  color: black;
}
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo_img {
  border-radius: 50%;
}

.navlink {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navlink a {
  text-decoration: none;
  color:black;
  font-weight: 500;
  position: relative;
  padding-bottom: 4px;
  transition: all 0.3s ease;
}

.navlink a:hover {
  color: #2e9a92;
}

body {
  background: white;
  min-height: 100vh;
}

.pagecontainer {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 20px;
}

.pagecontainer h1 {
  text-align: center;
  color: #2e9a92;
  margin-bottom: 8px;
}

.subtitle {
  text-align: center;
  color: black;
  margin-bottom: 35px;
}

.casegrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.casecard {
  background: white;
  padding: 22px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  position: relative;
}

.casecard h3 {
  color: #2e9a92;
  margin-bottom: 10px;
}

.casecard p {
  font-size: 14px;
  color: black;
  margin-bottom: 6px;
}

.status {
  position: absolute;
  top: 18px;
  right: 18px;
  padding: 5px 12px;
  font-size: 12px;
  border-radius: 20px;
  color: white;
}


.actionbutton {
  margin-top: 12px;
  padding: 10px;
  width: 100%;
  background: #2e9a92;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 14px;
}

.footer {
  background-color: #2e9a92;
  color: white;
  padding: 60px 20px 30px;
  font-family: "Inter", sans-serif;
}

.footercontainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  gap: 40px;
}

.footerbrand {
  flex: 1 1 250px;
}

.footerbrand .logo {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.footerbrand p {
  color: white;
  font-size: 0.95rem;
  margin-bottom: 200px;
  line-height: 1.5;
}

.footerbottom {
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 20px;
  margin-top: 90px;
  font-size: 0.9rem;
  color: white;
}
