* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.navlink a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background: #2e9a92;
  transition: width 0.3s ease;
}

.navlink a:hover {
  color: #111827;
}

.navlink a:hover::after {
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 40px;
}
.title a {
  text-decoration: none;
  color: black;
}
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo_img {
  border-radius: 50%;
}

.navlink {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navlink a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  position: relative;
  padding-bottom: 4px;
  transition: all 0.3s ease;
}

.navlink a:hover {
  color: #2e9a92;
}

body {
  background: #f9fafb;
  min-height: 100vh;
}

.pagecontainer {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 20px;
}

.pagecontainer h1 {
  text-align: center;
  color: #2e9a92;
  margin-bottom: 8px;
}

.subtitle {
  text-align: center;
  color: #555;
  margin-bottom: 35px;
}

.casegrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.casecard {
  background: #ffffff;
  padding: 22px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  position: relative;
}

.casecard h3 {
  color: #2e9a92;
  margin-bottom: 10px;
}

.casecard p {
  font-size: 14px;
  color: #444;
  margin-bottom: 6px;
}

.footer {
  background-color: #2e9a92;
  color: #fff;
  padding: 60px 20px 30px;
  font-family: "Inter", sans-serif;
}

.footercontainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  gap: 40px;
}

.footerbrand {
  flex: 1 1 250px;
}

.footerbrand .logo {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.footerbrand p {
  color: #e8f5e9;
  font-size: 0.95rem;
  margin-bottom: 200px;
  line-height: 1.5;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 20px;
  margin-top: 90px;
  font-size: 0.9rem;
  color: #e8f5e9;
}
.action-btn {
  margin-top: 12px;
  padding: 10px;
  width: 100%;
  background: #2e9a92;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  cursor: pointer;
}

.action-btn:hover {
  background: #2e9a92;
}

.action-btn.disabled {
  background: #adb5bd;
  cursor: not-allowed;
}
