*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #f8f9ff;
  color: #2E9A92;;
}

header {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.navlink a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background: #2e9a92;
  transition: width 0.3s ease;
}

.navlink a:hover {
  color: #2E9A92;;
}

.navlink a:hover::after {
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 40px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo_img {
  border-radius: 50%;
}
.navlink {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navlink a {
  text-decoration: none;
  color:#2E9A92;;
  font-weight: 500;
  position: relative;
  padding-bottom: 4px;
  transition: all 0.3s ease;
}


.navlink a:hover {
  color: #2e9a92;
}
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background: #f8fafc;
  color: black;
}


/* === SECTION TITLES === */
.section-title {
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 10px;
}

.section-subtitle {
  text-align: center;
  color: #555;
  margin-bottom: 40px;
}

/* === OUR IMPACT SECTION === */
.impact-section {
  position: relative;
  background: url(../assets/about.jpg) center/cover no-repeat;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.impact-section{
    color:#2E9A92;
}

.impact-overlay {
  background: linear-gradient(90deg,rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),;
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.impact-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.3); 
}

.impact-content {
  color: #fff;
  max-width: 800px;
  padding: 20px;
  text-align: center;
}

.impact-btn {
  background: rgba(255,255,255,0.2);
  border: none;
  color:#2E9A92;;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
}

.impact-content h2 {
  font-size: 3rem;
  font-weight: 800;
}

/* === SUCCESS STORIES === */
.stories-section {
  padding: 60px 10%;
}

.story-card {
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 40px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.1);
}

.story-badge {
  background: #d1f7d6;
  color: #047857;
  font-weight: 600;
  padding: 5px 12px;
  border-radius: 10px;
}

.before-after {
  display: flex;
  gap: 10px;
}

.before-after img {
  width: 220px;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}

