* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #fff;
  color: #333;
}

header {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.navlink a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background: #2e9a92;
  transition: width 0.3s ease;
}

.navlink a:hover {
  color: #111827;
}

.navlink a:hover::after {
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 40px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo_img {
  border-radius: 50%;
}

.navlink {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navlink a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  position: relative;
  padding-bottom: 4px;
  transition: all 0.3s ease;
}

.navlink a:hover {
  color: #2e9a92;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 100px;
  background: linear-gradient(135deg, #1e9a92, #2e9a92);
  color: white;
  min-height: 90vh;
  flex-wrap: wrap;
}

.heroleft {
  flex: 1;
}

.tag {
  display: inline-block;
  background: #d8f3dc;
  color: #2e9a92;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 15px;
}

.heroleft h1 {
  font-size: 40px;
  color: white;
  margin-bottom: 15px;
}

.heroleft p {
  font-size: 16px;
  color: white;
  margin-bottom: 25px;
}

.heroright {
  flex: 1;
}

.heroright img {
  width: 80%;
  border-radius: 10%;
  max-width: 500px;
  height: 550px;
}

.mission {
  background: #ffffff;
  padding: 60px 30px;
  text-align: center;
}

.mission h2 {
  font-size: 32px;
  color: #2e9a92;
  margin-bottom: 15px;
}

.mission p {
  max-width: 700px;
  margin: auto;
  color: #555;
}

.campaigns {
  padding: 60px 30px;
  max-width: 1200px;
  margin: auto;
}

.campaigns h2 {
  text-align: center;
  font-size: 32px;
  color: #2e9a92;
  margin-bottom: 40px;
}

.campaigncards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.card {
  background: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  padding: 15px 15px 5px;
  color: #2e9a92;
}

.card p {
  padding: 0 15px 20px;
  font-size: 14px;
  color: #555;
}

.howitworks {
  padding: 60px 30px;
  text-align: center;
}

.howitworks h2 {
  font-size: 32px;
  color: #2e9a92;
  margin-bottom: 30px;
}

.steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.step {
  background: #ffffff;
  padding: 25px;
  border-radius: 14px;
  width: 200px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.step span {
  font-size: 28px;
}

.step p {
  margin-top: 10px;
  font-weight: 600;
}

.testimonials {
  padding: 60px 30px;
  max-width: 1200px;
  margin: auto;
}

.testimonials h2 {
  text-align: center;
  font-size: 32px;
  color: #2e9a92;
  margin-bottom: 40px;
}

.testimonialcards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.tcard {
  background: #ffffff;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.tcard h4 {
  margin-top: 15px;
  color: #2e9a92;
}

.footer {
  background-color: #2e9a92;
  color: #fff;
  padding: 60px 20px 30px;
  font-family: "Inter", sans-serif;
}

.footercontainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.footerbrand {
  flex: 1 1 250px;
}

.footerbrand .logo {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.footerbrand p {
  color: #e8f5e9;
  font-size: 0.95rem;
  margin-bottom: 200px;
  line-height: 1.5;
}

.footerbottom {
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 20px;
  margin-top: 90px;
  font-size: 0.9rem;
  color: #e8f5e9;
}
