
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  min-height: 100vh;
   background: linear-gradient(135deg, #bbecdd, #2e9a92);
  display: flex;
  align-items: center;
  justify-content: center;
}


.signup-container {
  background: #ffffff;
  width: 100%;
  max-width: 420px;
  padding: 32px;
  border-radius: 18px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

.signup-container h2 {
  text-align: center;
  color: #1b4332;
  margin-bottom: 25px;
}

.signup-container form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.signup-container input {
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  transition: all 0.3s ease;
}

.signup-container input:focus {
  border-color: #2e9a92;
  box-shadow: 0 0 0 2px rgba(45, 106, 79, 0.15);
}

.signup-container button {
  margin-top: 10px;
  padding: 14px;
  background: #2e9a92;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

.signup-container button:hover {
  background: #2e9a92;
}

.signin-text {
  text-align: center;
  margin-top: 14px;
  font-size: 14px;
  color: #555;
}

.signin-text a {
  color: #2e9a92;
  font-weight: 600;
  text-decoration: none;
}

.signin-text a:hover {
  text-decoration: underline;
}
.back-home {
  position: absolute;
  top: 20px;
  left: 20px;
}

.back-home a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  background: #ffffff;
  padding: 8px 14px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.12);
  transition: 0.3s ease;
}
