* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signincontainer {
  display: flex;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 1100px;
}

.signinleft {
  flex: 1;
  padding: 50px 40px;
  background: linear-gradient(135deg, #bbecdd, #2e9a92);
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.logo h2 {
  color: #1a1a1a;
  font-weight: 700;
}

.signinleft h1 {
  font-size: 2.4rem;
  color: #1a1a1a;
  margin-bottom: 10px;
}

.signinleft p {
  color: #666;
  margin-bottom: 30px;
}

.imagecard {
  width: 100%;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(#81c4be);
  margin-bottom: 25px;
}

.heroimg {
  width: 100%;
  display: block;
  border-radius: 14px;
}

.stats {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.stat {
  text-align: center;
}

.stat h3 {
  color: #1a1a1a;
  font-size: 1.5rem;
  font-weight: 700;
}

.stat p {
  color: #555;
  font-size: 0.9rem;
}

.signinright {
  flex: 1;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.formbox {
  width: 100%;
  max-width: 380px;
  text-align: center;
}

.formbox h2 {
  color: #1a1a1a;
  margin-bottom: 8px;
}

.formbox p {
  color: #666;
  margin-bottom: 25px;
  font-size: 0.95rem;
}

.inputbox {
  display: flex;
  align-items: center;
  background: #f3f3f5;
  border-radius: 8px;
  padding: 10px 14px;
  margin-bottom: 18px;
}

.inputbox input {
  border: none;
  outline: none;
  flex: 1;
  background: none;
  font-size: 0.95rem;
}

.icon {
  margin-right: 10px;
  color: #888;
}

label {
  display: block;
  color: #444;
  font-size: 0.9rem;
  text-align: left;
  margin-bottom: 6px;
}

.signinbutton {
  background: #000020;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 10px;
  width: 100%;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}

.signinbutton:hover {
  background: #1e1e40;
}
.backhome {
  position: absolute;
  top: 20px;
  left: 20px;
}

.backhome a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  background: #ffffff;
  padding: 8px 14px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  transition: 0.3s ease;
}
