 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #f8f9ff;
  color: #333;
}
header {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.navlink a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background: #2e9a92;
  transition: width 0.3s ease;
}

.navlink a:hover {
  color: #111827;
}

.navlink a:hover::after {
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 40px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo_img {
  border-radius: 50%;
}
.navlink {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navlink a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  position: relative;
  padding-bottom: 4px;
  transition: all 0.3s ease;
}


.navlink a:hover {
  color: #2e9a92;
}
