* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: white;
  color: black;
}
.title a {
  text-decoration: none;
  color: black;
}
header {
  background:white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.navlink a:hover {
  color: black;
}

.navlink a:hover::after {
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 40px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo_img {
  border-radius: 50%;
}

.navlink {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navlink a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  position: relative;
  padding-bottom: 4px;
  transition: all 0.3s ease;
}

.navlink a:hover {
  color: #2e9a92;
}
.hero {
  background: url("../assets/report.jpg") center/cover no-repeat;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  position: relative;
}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.4);
}

.herocontent h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.herocontent {
  position: relative;
  z-index: 1;
}

.reportcontainer {
  display: flex;
  gap: 30px;
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 20px;
}

.formcard {
  background: white;
  flex: 2;
  border-radius: 15px;
  padding: 30px 40px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.formcard h2 {
  font-size: 1.6rem;
  font-weight: 700;
}

.formcard p {
  color: black;
  margin-top: 5px;
  margin-bottom: 25px;
  font-size: 0.95rem;
}

.formsection {
  margin-bottom: 30px;
}

.formsection h3 {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: black;
}

.formgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
}

.formgroup {
  display: flex;
  flex-direction: column;
}

.formgroup label {
  font-size: 0.9rem;
  font-weight: 600;
  color: black;
  margin-bottom: 5px;
}

.formgroup input,
.formgroup select,
.formgroup textarea {
  padding: 10px 12px;
 
  border-radius: 8px;
  outline: none;
  border: 1px solid #ccc;
  transition: border-color 0.3s;
}

.formgroup input:focus,
.formgroup select:focus,
.formgroup textarea:focus {
  border-color: #2e9a92;
}

.full {
  grid-column: span 2;
}

.uploadbox {
  border: 2px dashed white;
  border-radius: 12px;
  padding: 25px;
  text-align: center;
  background: white;
  color: black;
  border: 1px solid #ccc;
}

.uploadbox:hover {
  border-color: #2e9a92;
  background: white;
}

.uploadicon {
  font-size: 2rem;
  margin-bottom: 8px;
}

.uploadbox input[type="file"] {
  margin-top: 10px;
}

.checkboxgroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  font-size: 0.9rem;
  color: black;
}

.checkboxgroup input {
  margin-right: 8px;
}

.submitsection {
  text-align: center;
  margin-top: 25px;
}

.submitbtn {
  background: black;
  color: white;
  border: none;
  padding: 14px 25px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  width: 80%;
  max-width: 350px;
}

.submitbtn:hover {
  background: #2e9a92;
}

.submitnote {
  margin-top: 8px;
  font-size: 0.85rem;
  color: black;
}
.footer {
  background-color: #2e9a92;
  color: white;
  padding: 60px 20px 30px;
  font-family: "Inter", sans-serif;
}

.footercontainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.footerbrand {
  flex: 1 1 250px;
}

.footerbrand .logo {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.footerbrand p {
  color: white;
  font-size: 0.95rem;
  margin-bottom: 20px;
  line-height: 1.5;
}

.footerlinks {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  flex: 2;
  justify-content: flex-end;
}

.footerlinks h4 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 15px;
  color: white;
}

.footerlinks ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footerlinks ul li {
  margin-bottom: 10px;
}

.footerlinks ul li a {
  color: white;
  text-decoration: none;
  font-size: 0.95rem;
  transition: color 0.3s ease;
}

.footerlinks ul li a:hover {
  color: white;
}

.footerbottom {
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 20px;
  margin-top: 40px;
  font-size: 0.9rem;
  color: white;
}
