* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background:white;
  color: #333;
  min-height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 16px 60px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.logo_img{
    border-radius: 50%;
}
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-icon {
  color: #fff;
  font-size: 18px;
  border-radius: 50%;
  padding: 8px 10px;
}
.buttons{
    display: flex;
    gap: 15px;
}
.navbar{
    display: flex;
    justify-content: space-between;
}

.buttons a{
    text-decoration: none;
    display:flex;
    justify-content: ;
    flex-direction: right;
    padding-block-start: 8px 16px;
    border-radius: 6px;
    font-weight: 500;
}
.hero {
  background: 
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/puppies.jpg") center/cover no-repeat;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  position: relative;
}
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.3); /* light overlay */
}

.hero-content {
  max-width: 700px;
  padding: 20px;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 30px;
}

/* Button */
.hero-btn {
  background-color: #2E9A92;   /* PawCare teal */
  color: #fff;
  border: none;
  padding: 12px 28px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(46, 154, 146, 0.3);
}

.hero-btn:hover {
  background-color: #24837d;
  transform: translateY(-2px);
}
 .hero-btn a{
  text-decoration: none;
  color: black;
 }