
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  min-height: 100vh;
   background: linear-gradient(135deg, #bbecdd, #2e9a92);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
}

.container {
  width: 100%;
  max-width: 420px;
  padding: 20px;
  text-align: center;
}

.container h1 {
  color: black;
  margin-bottom: 8px;
}

.container p {
  color: black;
  font-size: 14px;
  margin-bottom: 25px;
}

.form-card {
  background: #ffffff;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}

.form-group {
  margin-bottom: 18px;
  text-align: left;
}

.form-group label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #1b4332;
}

.form-group input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
  transition: all 0.3s ease;
}

.form-group input:focus {
  border-color: #2E9A92;
  box-shadow: 0 0 0 2px rgba(45, 106, 79, 0.15);
}

.btn-submit {
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  background: #2E9A92;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-submit:hover {
  background: #2E9A92;
}
.signup-text,
.signin-text {
  margin-top: 12px;
  font-size: 14px;
  text-align: center;
  color: #2E9A92;
}

.signup-text a,
.signin-text a {
  color: #2E9A92;
  font-weight: 600;
  text-decoration: none;

}
.signin-text b{
  color:#2E9A92;
  text-decoration: none;
}

.signup-text a:hover,
.signin-text a:hover {
  text-decoration: underline;
}

